body{
  font-family: "Georgia", Times, serif;
}
.about_us{
  background-image: url("ressources/veterinary.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.service{
  background-image: url("ressources/veterinary2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.contact{
  background-color: rgba(0, 0, 0, 0.8);
}
